:local(.mainArea) {
    margin: 0px 0px;
    padding: 0px 0px;
    min-height: 480px;
    width: auto;
    background-color: #adbcd6;
}

:local(.sideBar) {
    margin: 0px 0px;
    padding: 2px 3px;
    min-height: 480px;
    background-color: #8694ae;
}